In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


# Load the dataset
df = pd.read_csv("D:\\nishan\\exsal.csv")

# Display dataset info
print(df.info())

# Check for missing values
print("\n\n\nCount of all Missing values:\n\n", df.isna().sum())

# Define dependent and independent variables
x = df[['Experience (years)']]
y = df[['Salary (USD)']]
print(x)
print("\n\n\n")
print(y)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Experience (years)  25 non-null     int64
 1   Salary (USD)        25 non-null     int64
dtypes: int64(2)
memory usage: 532.0 bytes
None



Count of all Missing values:

 Experience (years)    0
Salary (USD)          0
dtype: int64
    Experience (years)
0                    1
1                    2
2                    3
3                    4
4                    5
5                    6
6                    7
7                    8
8                    9
9                   10
10                  11
11                  12
12                  13
13                  14
14                  15
15                  16
16                  17
17                  18
18                  19
19                  20
20                  21
21                  22
22                  23
23                  24
24                  25




    Salary (USD)
0          52000
1          55000
2          58500
3          62000
4          65500
5          69000
6          72500
7          76000
8          79500
9          83000
10         86500
11         90000
12         93500
13         97000
14        100500
15        104000
16        107500
17        111000
18        114500
19        118000
20        121500
21        125000
22        128500
23        132000
24        135500

In [14]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Print train and test sets
print("x_train:\n", x_train)
print("\n\n\n")

x_train:
     Experience (years)
9                   10
13                  14
1                    2
22                  23
5                    6
2                    3
12                  13
15                  16
3                    4
4                    5
20                  21
17                  18
21                  22
18                  19
24                  25
7                    8
10                  11
14                  15
19                  20
6                    7

In [13]:
print("x_test:\n", x_test)
print("\n\n\n")

x_test:
     Experience (years)
8                    9
16                  17
0                    1
23                  24
11                  12

In [11]:
print("y_train:\n", y_train)
print("\n\n\n")

y_train:
     Salary (USD)
9          83000
13         97000
1          55000
22        128500
5          69000
2          58500
12         93500
15        104000
3          62000
4          65500
20        121500
17        111000
21        125000
18        114500
24        135500
7          76000
10         86500
14        100500
19        118000
6          72500

In [12]:
print("y_test:\n", y_test)
print("\n\n\n")

y_test:
     Salary (USD)
8          79500
16        107500
0          52000
23        132000
11         90000